<% include template/head %>
<hr />
<p>Your password reset code is:<%= reset_code %></p>
<p>Please keep this code safe if you ever forget your password.</p>
<hr />
<h2>Login</h2>
<form method="post" action="login">
	<div class="field">
		<input type="text" name="name" id="name" placeholder="Name" />
	</div>
	<div class="field">
		<input type="password" name="password" id="password" placeholder="Password" />
	</div>
	<ul class="actions">
		<li><input type="submit" value="Login"></li>
		<li><a href="/create" class="button">Register</a></li>
	</ul>
	<div class="field">
		<a href="/forgot" >Forgot Password?</a>
	</div>
</form>
<hr />
<% include template/foot %>
